<!-- Extra large modal -->
<div class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-xl" style="max-width: 800px">
        <div class="modal-content  help-read-qr">
            <div class="row">
                <div class="col-8">
                    <div>
                        <!-- Titulo -->
                        <label class="help-read-qr-title">Para logarte en Alastria en tu computadora</label>
                    </div>

                    <br>

                    <label> 1. Abre la app de Alastria en tu teléfono </label>

                    <br>

                    <label> 2. Pulsa el boton de <strong>Leer QR</strong> en la pantalla principal </label>

                    <br>

                    <label> 3. cuando se active la cámara, escanee el código QR que aparece en la pantalla del
                        ordenador
                        con su
                        teléfono</label>
                </div>
                <div class="col-4">
                    Aqui ira la imagen con el QR
                </div>
            </div>
        </div>
    </div>
</div>