#logo, h3 {
  width: 80%;
}

#logo {
  margin-top: 40px;
  margin-bottom: 40px;
}

.mainContent {
    background-color: rgba(0,0,0,0);
    color: #FFFFFF;
    text-align: center;
}

.main {
  background: linear-gradient(153.34deg, rgba(50, 91, 142, 0.8) 7.11%, rgba(0, 178, 188, 0.8) 78.61%), url('../assets/images/background/background.png');
  background-repeat: no-repeat;
  background-size: cover;
  mix-blend-mode: normal;
  filter: blur(1px);
}

.col, h3 {
  margin: auto;
}

.col img {
 height: 100%;
 width: auto;
 display: block;
 margin: auto;
}


.btnLogin {
  height: 50px;
  border-radius: 30px;
  background-color: white;
  color: #3A6D96;
  font-size: larger;
}

ion-icon {
  position: absolute;
  left: 85%;
}