/*  #Style Login + logo 1
================================================*/
login-layout-1 {
  ion-grid,
  ion-row {
    height: 100%;
  }
  // Settings Logo
  img {
    max-width: 72px;
    max-height: 72px;
    margin-bottom: 24px;
    display: block;
  }

  ion-item {
    padding-left: 0 !important;
    padding-bottom: 15px !important;

    [error-field] {
      margin: 0 !important;
      position: absolute !important;
      bottom: 0 !important;
      right: 0 !important;
      font-size: 12px;
    }
    .item-inner {
      border-bottom-color: theme-colors('textColors', 'secondary') !important;
      box-shadow: none !important;
  }
  ion-label {
    margin: 0 !important;
  }
}

  [stacked] {
    font-size: 10px !important;
  }

  [login-title] {
    color: color($loginPage, login-title-logo-1);
  }

  [login-subtitle] {
    color: color($loginPage, login-subtitle-logo-1);
  }


  [description] {
    font-size: $h5-font-size !important;
    font-weight: 100;
    letter-spacing: 1px;
    color: theme-colors('textColors', 'secondary');
  }

  // Settings Button
  [bottom-form] {
    button:nth-child(1) {
      margin: 12px 0;
    }

    [default-button] {
      font-weight: 400 !important;
    }
  }
}

.version-info {
  position: absolute;
  bottom: 15px;
  left: 6px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 14px;
  color: #325B8E;
}

.login-menu button div {
  width: 45px;

}

.main {
  background: linear-gradient(153.34deg, rgba(50, 91, 142, 0.8) 7.11%, rgba(0, 178, 188, 0.8) 78.61%), url('../assets/images/background/background.png');
  background-repeat: no-repeat;
  background-size: cover;
  mix-blend-mode: normal;
  filter: blur(1px);
}

.toolbar img {
  max-height: 37px;
}

.toolbar-background {
  background-color: rgba(0,0,0,0);
  color: #FFFFFF;
}
.mainContent {
  background-color: rgba(0,0,0,0);
  color: #FFFFFF;
}

.menu {
  color: #FFFFFF;
}

.grey,
.item-inner .input-wrapper .grey {
  color :#cccccc;
}

.grey input::placeholder {
  color :#cccccc;
}

.header-ios {
  padding-top:24px;
}

.label {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 18px;

  color: #325B8E;
}

.login-menu {
  margin-top: 86px;
  margin-right: 15px;
}

.logo {
  padding-left: 10px;
}

.btnLogin {
  background: linear-gradient(90deg, #325B8E 0%, #00CAD6 100%);
  border-radius: 30px;
}

.btnLogin:before {
  content: '>';
  position: absolute;
  left: 90%;
  top: 10px;
}

.iconLogin {
  position: absolute;
  top: 60%;
  left: -15px;
  width: 25px;
  height: 27px;
  margin-right: 5px;
}

.fingerPrint {
  font-size: 18px;
  color: #FFFFFF;
}


.list-md .item-input:last-child {
  border-bottom: 0;
}
