page-detail-profile {

    .header {
        background: linear-gradient(103.54deg, #325B8E 24.51%, #00B2BC 83.69%);
    }

    .toolbar-title-md {
        color: #ffffff;
    }

    .back-button.show-back-button {
        color: #ffffff;
        text-transform: capitalize;
    }

    .darkBlue, a.darkBlue {
        color: #325B8E;
    }

    ion-icon.iconProfile {
        font-size: 30px;
    }
}
