<ion-header class="header">

  <ion-navbar>       
    <ion-title style="color: white">Testimonio</ion-title>
  </ion-navbar>

</ion-header>
<ion-content >
    <ion-card>
        <ion-card-content *ngIf="data">
            <ion-card-title >
                <p><strong style="font-size: 20px">{{ data.titleP }}</strong></p> 
            </ion-card-title>
            <div>
                <a class="darkBlue" float-right><ion-icon class="iconProfile" name="ios-arrow-forward"></ion-icon></a>
                <p><strong style="font-size: 16px"> {{ data.emitter }} </strong></p>
                <p style="font-size: 13px"> {{ data.place }} </p>
            </div>
            <hr>
            <div>
                <p><strong style="font-size: 16px"> {{ data.valueT }} </strong></p>
                <p style="font-size: 13px"> {{ data.value }} </p>
            </div>
            <hr>
            <div>
                <p><strong style="font-size: 16px"> {{ data.addDateT }} </strong></p>
                <p style="font-size: 13px"> {{ data.addDate }} </p>
            </div>
            <hr>
            <div>
                <p><strong style="font-size: 16px"> {{ data.endDateT }} </strong></p>
                <p style="font-size: 13px"> {{ data.endDate }} </p>
            </div>
            <hr>
            <div>
                <a class="darkBlue" float-right> <ion-icon class="iconProfile" name="ios-help-circle-outline"></ion-icon></a>
                <p><strong style="font-size: 16px"> {{ data.levelT }} </strong></p>
                <div style="font-size: 13px"> 
                    <span style="margin-top: 10px"> {{ data.level }} </span>
                    <!-- (click)="onStarClass(item.iconsStars, i, $event);" -->
                    <ion-icon float-left *ngFor="let ico of data.iconsStars;let i = index" >
                        <i icon-small *ngIf="ico.isActive" class="icon {{ico.iconActive}}"></i>
                        <i icon-small *ngIf="!ico.isActive" class="icon {{ico.iconInactive}}"></i>
                    </ion-icon>
                </div>
            </div>

        </ion-card-content>
    </ion-card>
    <!-- Botones -->
    <div float-right margin-top>
        <a class="darkBlue"> <ion-icon name="ios-share-outline"></ion-icon> Compartir </a>
        <a class="darkBlue"> <ion-icon name="ios-trash-outline"></ion-icon> Borrar </a>
    </div>
</ion-content>
