<!--- Settings TAB lauout-1 -->
<ion-header>
    <ion-toolbar style="padding-top: 10px">
        <div background-size *ngIf="data != null" [ngStyle]="{'background-image': 'url(' + data.headerImage + ')'}">
            <div search-bar-bcg>
                <!-- Header Title -->
                <h1 ion-text no-margin padding-left search-bar-title>{{data.title}}</h1>
            </div>
        </div>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-grid no-padding *ngIf="data != null">
        <ion-row>
            <ion-col col-12>
                <ion-list no-margin>
                    <ion-item border no-lines [ngClass]="animateClass" *ngFor="let item of animateItems; let i = index;">
                        <ion-icon name="{{item.icon}}" item-start></ion-icon>
                        <h2 item-start>{{item.title}}</h2>
                        <ion-toggle item-right *ngIf="!item.button" (ionChange)="onEvent('onSelect',item)" [checked]="item.selected"></ion-toggle>
                        <button ion-button defoult-button item-right (click)="item.callback(this)" *ngIf="item.button">
                            {{item.buttonLabel}}
                        </button>
                    </ion-item>
                </ion-list>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>