<!-- Lista de elementos -->
<ion-content *ngIf="isDataSetted">
    <ion-card *ngFor="let item of identityDisplay">
        <div *ngIf="isDataSetted && !item.isHidden" style="padding-bottom: 10px;">
            <ion-card-content class="credential-card-content">
                <ion-row>
                    <ion-col class="center-vertical-col">
                        <ion-card-title>
                            <ion-label>{{ item['item'] }} </ion-label>
                            <ion-checkbox *ngIf="isSelectable" class="checkbox-item" [(ngModel)]="item['isChecked']"
                                (ionChange)="changeIdentitySelect($event, item.id)"></ion-checkbox>
                            <strong style="font-size: 15px"> {{ item.titleP }} </strong>
                            <span style="font-size: 13px"> - {{ item.place }} - {{item.issuer}} </span>
                        </ion-card-title>
                    </ion-col>
                </ion-row>
                <div>
                    <p [class.description-selectable]="isSelectable" [class.description-notSelectable]="!isSelectable">
                        {{ item.value }}
                    </p>
                    <div [class.star-position]="isSelectable" [class.star-notSelectable]="!isSelectable">
                        <ion-icon float-left *ngFor="let ico of item.iconsStars;let i = index">
                            <i icon-small *ngIf="ico.isActive" class="icon {{ico.iconActive}}"></i>
                            <i icon-small *ngIf="!ico.isActive" class="icon {{ico.iconInactive}}"></i>
                        </ion-icon>
                    </div>

                    <!-- Reviews Star -->
                    <div style="margin-top: 5px;">
                        <span span-small> {{ item.level }} </span>
                        <span *ngIf="item.endDate"> , {{ item.endDate }} </span>
                    </div>

                    <div float-right>
                        <img src="assets/images/alastria/more.png" (click)="detail(item)" />
                    </div>
                </div>
            </ion-card-content>
        </div>
    </ion-card>

</ion-content>