<!-- Lista de elementos -->
<ion-content>
    <ion-card *ngFor="let item of identityDisplay" style="padding-bottom: 10px;">
        <ion-card-content class="credential-card-content" *ngIf="isDataSetted">
            <ion-row>
                <ion-col class="center-vertical-col">
                    <ion-card-title>
                        <ion-label>{{ item['item'] }} </ion-label>
                        <ion-checkbox *ngIf="isSelectable" class="checkbox-item" [(ngModel)]="item['isChecked']"
                            (ionChange)="changeIdentitySelect($event, item.id)"></ion-checkbox>
                        <strong style="font-size: 15px"> {{ item.titleP }} </strong>
                        <span style="font-size: 13px"> - {{ item.place }} </span>
                    </ion-card-title>
                </ion-col>
                <ion-col *ngIf="isManualSelection" class="center-vertical-col" col-2>
                    <div (click)="expandCredential(item)">
                        <ion-icon *ngIf="item.isExpanded;else expandedCredential" class="expand-btn"
                            name="ios-arrow-down">
                        </ion-icon>
                        <ng-template #expandedCredential>
                            <ion-icon class="expand-btn" name="ios-arrow-forward">
                            </ion-icon>
                        </ng-template>
                    </div>
                </ion-col>
            </ion-row>
            <div *ngIf="!isManualSelection || item.isExpanded ">
                <p [class.description-position]="isSelectable">
                    {{ item.value }}
                </p>

                <div [class.star-position]="isSelectable" [class.star-notSelectable]="!isSelectable">
                    <ion-icon float-left *ngFor="let ico of item.iconsStars;let i = index">
                        <i icon-small *ngIf="ico.isActive" class="icon {{ico.iconActive}}"></i>
                        <i icon-small *ngIf="!ico.isActive" class="icon {{ico.iconInactive}}"></i>
                    </ion-icon>
                </div>

                <!-- Reviews Star -->
                <div style="margin-top: 5px;"><span span-small> {{ item.level }}, {{ item.endDate }}</span>
                </div>

                <div float-right *ngIf="isManualSelection == undefined">
                    <img src="assets/images/alastria/more.png" (click)="detail(item)" />
                </div>
            </div>
        </ion-card-content>
    </ion-card>
</ion-content>