.checkbox-item {
    margin-left: 0px;
    margin-right: 10px;
}

ion-checkbox {
    --border-color-checked: #325B8E;
    --background-checked: #325B8E;
}

ion-icon {
    color: #325B8E;
}

.description-notSelectable {
    margin-left: 5px !important;
    bottom: 5px;
    position: relative;
}

.description-selectable {
    margin-left: 30px !important;
    bottom: 5px;
    position: relative;
}

.star-position {
    margin-left: 25px !important;
}

.card-title-md {
    font-size: 0;
    padding-top: 2px;
    padding-bottom: 2px;
}

.scroll-content {
    height: 81%;
}

.expand-btn {
    font-size: 2.2em;
}

.credential-card-content {
    padding-top: 2px;
    padding-bottom: 2px;
}

.center-vertical-col {
    align-self: center;
    color: gray;
}

#detail-image {
    position: absolute;
    bottom: 0px;
}