
.checkbox-item {
    margin-left: 0px;
    margin-right: 10px;
}

.checkbox-md .checkbox-checked {
    border-color: #327EFF !important;
    background-color: #327EFF !important;
}

.checkbox-md .checkbox-icon {
    border-width: 2px !important;
    border-color: #327EFF ;
    background-color: #ffffff ;
}

.description-notSelectable {
    margin-left: 5px !important;
    bottom: 5px;
    position: relative;
}

.description-selectable {
    margin-left: 30px !important;
    bottom: 5px;
    position: relative;
}

.star-position {
    margin-left: 25px !important;
}

.card-title-md {
    font-size: 0;
    padding-top: 2px;
    padding-bottom: 2px;
}

.scroll-content {
    height: 81%;
}

.expand-btn {
    font-size: 2.2em;
}

.credential-card-content {
    padding-top: 2px;
    padding-bottom: 2px;
}

.center-vertical-col {
    align-self: center;
    color: gray;
}