/*  #Style Register + logo
================================================*/

register-layout-1 {
  ion-grid,
  ion-row {
    height: 100%;
  }
  // Avatar
  ion-thumbnail {
    display: block;
    clear: both;
    filter: none;
    opacity: 1;

    img {
      max-width: 50px;
      max-height: 50px;
    }
  }

  ion-item {
    padding-left: 0 !important;
    padding-bottom: 15px !important;

    [error-field] {
      margin: 0 !important;
      position: absolute !important;
      bottom: 0 !important;
      right: 0 !important;
      font-size: 3px;
    }
    .item-inner {
      border-bottom-color: theme-colors('textColors', 'secondary') !important;
      box-shadow: none !important;
  }
  ion-label {
    margin: 0 !important;
  }
}

  .toolbar-ios {
    min-height: 64px;
  }

  .bar-button-default-ios,
  .toolbar-title-ios {
    padding-top: 20px;
  }
  // Title
  [register-title] {
    margin-right: 20%;
    color: color($register, register-logo-title);
  }

  [stacked] {
    font-size: 10px !important;
  }
}
