<!--- Settings TAB lauout-1 -->
<ion-header>
    <user-info-header [compact]=true></user-info-header>
    <div style="margin-left: 20px">
        <span style="font-size: 20px;">
            Tu actividad reciente con AlastriaId
        </span>
        <options class="options" *ngIf="selection" (handleSelectAll)="handleSelectAll($event)"
            (handleDeleteActivities)="handleDeleteOrBackup('delete')"
            (handleBackupActivities)="handleDeleteOrBackup('backup')"></options>
        <ion-searchbar *ngIf="!selection" [(ngModel)]="searchTerm" (ionInput)="onSearch($event)"></ion-searchbar>
    </div>
</ion-header>
<ion-content>
    <ion-segment (ionChange)="segmentChanged($event)" [(ngModel)]="type" mode="ios">
        <ion-segment-button value="credentials">
            <ion-label>Credentials</ion-label>
        </ion-segment-button>
        <ion-segment-button value="presentations">
            <ion-label>Presentations</ion-label>
        </ion-segment-button>
    </ion-segment>
    <ion-list tabPage1 *ngIf="activities && activities.length > 0">
        <ion-item border no-lines *ngFor="let activity of activities; let i = index" tappable text-wrap
            (click)=!selection?onItemClick(activity):selectActivity(i,activity) (press)=selectActivity(i,activity)
            [ngStyle]="{'background-color': activitiesSelected[i] === activity.activityId ? '#F2F2F2' : '#FFFFFF'}">
            <span class="title">{{ activity.title }}</span>
            <div class="activityStatus" [ngClass]="{
                'status-valid':activity.status === 'Valid',
                'status-askissuer':activity.status === 'AskIssuer',
                'status-revoked':activity.status === 'Revoked',
                'status-deleted-by-subject':activity.status === 'DeletedBySubject'
              }" name="radio-button-on">
                <ion-icon name="radio-button-on"></ion-icon>
                <span>{{ activity.status }}</span>
                <ion-icon name="ios-arrow-forward"></ion-icon>
            </div>
            <br>
            <span class="title">{{ activity.subtitle }}</span>
            <h3 item-subtitle text-wrap>Issuer: {{ activity.description }}</h3>
            <span class="datetime">{{ activity.datetime }}</span>
        </ion-item>
    </ion-list>
    <div class="without-activities" *ngIf="activities && activities.length <= 0">
        No se han encontrado actividades
    </div>
</ion-content>