/*  #Style Settings for Tab-1
===========================================*/
[Index] { }

ion-segment {
    margin-bottom: 3px;
}

ion-segment-button > ion-label.label {
    margin-top: 4px;
}

.title {
    font-weight: bold !important;
    color: black;
    font-size: 18px !important;
}

.datetime {
    position: relative;
    float: right;
    color: #8e8e93;
}

.datetime > ion-icon {
    font-size: 18px !important;
}

.options {
    color: #8e8e93;
    font-size: 25px;
    position: relative;
    float: left;
    width: 100%;
}

.without-activities {
    width: 100%;
    text-align: center;
    margin-top: 50%;
    font-size: xx-large;
}