#header-title {
    height: 61px;
    width: 100%;
    background: linear-gradient(155.73deg, #325B8E 44.4%, #00B2BC 73.25%);
    margin-bottom: 15px;
    color: white;
    display: flex;
}
#header-title p {
    color: white;
    font-size: 18px;
}

.back-button.show-back-button {
    color: #ffffff;
    text-transform: capitalize;
}

.darkBlue, a.darkBlue {
    color: #325B8E;
}

.darkBlue:hover {
    cursor: pointer;
}

ion-icon.iconProfile {
    font-size: 30px;
}

#footer-buttons {
    margin-right: 15px;
}
