<ion-header>
    <ion-toolbar id="header-title">
        <ion-buttons slot="start">
            <ion-back-button (click)="navController.back()"></ion-back-button>
        </ion-buttons>
        <ion-title>
            <p class="ion-text-center">Testimonio</p>
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-card>
        <ion-card-content *ngIf="data">
            <ion-card-title >
                <p><strong style="font-size: 20px">{{ data.titleP }}</strong></p> 
            </ion-card-title>
            <div>
                <a class="darkBlue ion-float-right"><ion-icon class="iconProfile" name="ios-arrow-forward"></ion-icon></a>
                <p><strong style="font-size: 16px"> {{ data.emitter }} </strong></p>
                <p style="font-size: 13px"> {{ data.issuer }} </p>
            </div>
            <hr>
            <div>
                <p><strong style="font-size: 16px"> {{ data.valueT }} </strong></p>
                <p style="font-size: 13px"> {{ data.value }} </p>
            </div>
            <hr>
            <div>
                <p><strong style="font-size: 16px"> {{ data.addDateT }} </strong></p>
                <p style="font-size: 13px"> {{ data.addDate }} </p>
            </div>
            <hr>
            <div>
                <p><strong style="font-size: 16px"> {{ data.endDateT }} </strong></p>
                <p style="font-size: 13px"> {{ data.endDate }} </p>
            </div>
            <hr>
            <div>
                <!-- <a class="darkBlue ion-float-right"> <ion-icon class="iconProfile" name="ios-help-circle-outline"></ion-icon></a> -->
                <p><strong style="font-size: 16px"> {{ data.levelT }} </strong></p>
                <div style="font-size: 13px"> 
                    <span style="margin-top: 10px"> {{ data.level }} </span>
                    <!-- (click)="onStarClass(item.iconsStars, i, $event);" -->
                    <div [class.star-position]="isSelectable" [class.star-notSelectable]="!isSelectable">
                        <!-- <ion-row> -->
                            <ion-col size="2" *ngFor="let ico of data.iconsStars;let i = index">
                                <ion-icon *ngIf="ico.isActive" [src]="ico.iconActive"></ion-icon>
                                <ion-icon *ngIf="!ico.isActive" [src]="ico.iconInactive"></ion-icon>
                            </ion-col>
                        <!-- </ion-row> -->
                    </div>
                </div>
            </div>

        </ion-card-content>
    </ion-card>
    <!-- Botones -->
    <div *ngIf="showDeleteAndShare && !isRevoked" id="footer-buttons" class="ion-float-right ion-margin-top">
        <a class="darkBlue" (click)="showConfirm()"> <span> Revocar </span> <ion-icon name="trash-outline"></ion-icon> </a>
    </div>
</ion-content>
