<!-- <ion-header> -->
    <div id="header-title">
        <!-- <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons> -->
        <ion-title>
            <p align="center">Testimonio</p>
        </ion-title>
    </div>
<!-- </ion-header> -->
<ion-content>
    <ion-card>
        <ion-card-content *ngIf="data">
            <ion-card-title >
                <p><strong style="font-size: 20px">{{ data.titleP }}</strong></p> 
            </ion-card-title>
            <div>
                <a class="darkBlue" float-right><ion-icon class="iconProfile" name="ios-arrow-forward"></ion-icon></a>
                <p><strong style="font-size: 16px"> {{ data.emitter }} </strong></p>
                <p style="font-size: 13px"> {{ data.issuer }} </p>
            </div>
            <hr>
            <div>
                <p><strong style="font-size: 16px"> {{ data.valueT }} </strong></p>
                <p style="font-size: 13px"> {{ data.value }} </p>
            </div>
            <hr>
            <div>
                <p><strong style="font-size: 16px"> {{ data.addDateT }} </strong></p>
                <p style="font-size: 13px"> {{ data.addDate }} </p>
            </div>
            <hr>
            <div>
                <p><strong style="font-size: 16px"> {{ data.endDateT }} </strong></p>
                <p style="font-size: 13px"> {{ data.endDate }} </p>
            </div>
            <hr>
            <div>
                <a class="darkBlue" float-right> <ion-icon class="iconProfile" name="ios-help-circle-outline"></ion-icon></a>
                <p><strong style="font-size: 16px"> {{ data.levelT }} </strong></p>
                <div style="font-size: 13px"> 
                    <span style="margin-top: 10px"> {{ data.level }} </span>
                    <!-- (click)="onStarClass(item.iconsStars, i, $event);" -->
                    <div [class.star-position]="isSelectable" [class.star-notSelectable]="!isSelectable">
                        <!-- <ion-row> -->
                            <ion-col size="2" *ngFor="let ico of data.iconsStars;let i = index">
                                <ion-icon *ngIf="ico.isActive" [src]="ico.iconActive"></ion-icon>
                                <ion-icon *ngIf="!ico.isActive" [src]="ico.iconInactive"></ion-icon>
                            </ion-col>
                        <!-- </ion-row> -->
                    </div>
                </div>
            </div>

        </ion-card-content>
    </ion-card>
    <!-- Botones -->
    <div *ngIf="showDeleteAndShare && !isRevoked" id="footer-buttons" float-right margin-top>
        <a class="darkBlue" (click)="showConfirm()"> <ion-icon name="ios-remove-circle-outline"></ion-icon> Revocar </a>
    </div>
</ion-content>
