.darkBlue, a.darkBlue {
    color: #325B8E;
    position: relative;
    font-size: 20px;
}

.darkBlue:hover {
    cursor: pointer;
}

.darkBlue > ion-icon {
    top: 2px;
    position: relative;
}

ion-icon.iconProfile {
    font-size: 30px;
}

#footer-buttons {
    margin-right: 15px;
}
