.darkBlue, a.darkBlue {
    color: #325B8E;
    position: relative;
    float: right;
}

.darkBlue:hover {
    cursor: pointer;
}

ion-icon.iconProfile {
    font-size: 30px;
}

#footer-buttons {
    margin-right: 15px;
}
