.without-credentials-search {
    width: 100%;
    text-align: center;
    margin-top: 50%;
    font-size: xx-large;
}

.without-credentials {
    width: 100%;
    text-align: center;
    margin-top: 30px;
    font-size: x-large;
    padding: 5px;
}

.btnConfirm {
    --background: linear-gradient(90deg, #325B8E 0%, #00CAD6 100%);
    --border-radius: 30px;
    height: 50px;
    margin: auto;
}

.btnConfirm:before {
    content: '>';
    position: absolute;
    left: 90%;
    top: 10px;
    font-size: 25px;
}

.button-inner {
    font-size: 17px;
}

