/*  # Style Parallax - New list
================================================*/
parallax-layout-1 {
  // Settings Animation
  @include settingAnimationHeader;
  // Settings Animation Text Color
  @-webkit-keyframes color-change {
    0% {
      color: theme-colors('mainColors', 'primary');
    }

    100% {
      color: theme-colors('textColors', 'accent') !important;
    }
  }

  .toolbar-ios {
    min-height: 64px;
  }

  .bar-button-default-ios,
  .toolbar-title-ios {
    padding-top: 20px;
  }
  .content-ios .scroll-content {
    top: -64px !important;
  }

  .active .back-button,
  .active .toolbar-title {
    color: theme-colors('textColors', 'accent') !important;
    animation-name: color-change;
    animation-duration: 400ms;
  }

  .back-button,
  .toolbar-title {
    color: theme-colors('textColors', 'secondaryBase') !important;
  }

  .scroll-content {
    top: -56px !important;
  }

  // Parallax Big Image
  [background-size] {
    @include darkening-blend-mode;
    height: 250px;
    position: relative;
    // Parallax Header Top
    [parallax-header] {
      color: color($parallaxPage, parallax-title-basic);
      z-index: 9999;
      position: absolute;
      bottom: 16px;
      left: 16px;
      right: 16px;
    }

    [parallax-subtitle] {
      color: color($parallaxPage, parallax-subtitle-basic);
    }
  }
  // Settings Badge
  ion-badge {
    position: absolute;
    right: 12px;
    bottom: 0;
  }
  // Settings Content Avatar
  ion-thumbnail {
    opacity: 0.7;
    filter: none;

    img {
      border-radius: $border-radius !important;
    }
  }

  .input-wrapper {
    display: block;
  }
}
