.ion-ios-leerQr-outline,.ion-ios-leerQr,.ion-md-leerQr,.ion-md-leerQr-outline {
    // content: url('../assets/images/tabIcon/qr-read.png');
    width: 105px;
    position: fixed;
    bottom: 0px;
}

.ion-md-leerQr + span {
    padding-top: 32px;
}
