ion-tab-button {
    --color-selected: #325B8E;
}

ion-tab-bar {
    height: 80px;
}

ion-icon {
    width: 32px;
    height: 32px;
}


// .custom-all {
//     contain: none;
//     --border: none;
// }
  
// .custom-all ion-tab-button:nth-child(3) ion-icon {
//     max-width: 56px;
//     height: 56px;
//     margin-bottom: 56px;
// }
