/*  # Style Tabs Footer tab - text
==================================*/

.ion-ios-home-outline,.ion-ios-home,.ion-md-home,.ion-md-home-outline {
    // content: url('../assets/images/tabIcon/house.png');
    height: 32px;
}
.ion-md-home[ng-reflect-is-active=true] {
    // content: url('../assets/images/tabIcon/house_sel.png');
}

.ion-ios-act-outline,.ion-ios-act,.ion-md-act,.ion-md-act-outline {
    // content: url('../assets/images/tabIcon/act.png');
    height: 32px;
}
.ion-md-act[ng-reflect-is-active=true] {
    // content: url('../assets/images/tabIcon/act_sel.png');
}

.ion-ios-bell-outline,.ion-ios-bell,.ion-md-bell,.ion-md-bell-outline {
    // content: url('../assets/images/tabIcon/bell.png');
    height: 32px;
}
.ion-md-bell[ng-reflect-is-active=true] {
    // content: url('../assets/images/tabIcon/bell_sel.png');
}

.ion-ios-more-outline,.ion-ios-more,.ion-md-more,.ion-md-more-outline {
    // content: url('../assets/images/tabIcon/more.png');
    width: 32px;
    margin-top: 22px !important;
    padding-bottom: 3px;
}
.ion-md-more[ng-reflect-is-active=true] {
    // content: url('../assets/images/tabIcon/more.png');
}

.ion-ios-leerQr-outline,.ion-ios-leerQr,.ion-md-leerQr,.ion-md-leerQr-outline {
    // content: url('../assets/images/tabIcon/qr-read.png');
    width: 105px;
    position: fixed;
    bottom: 0px;
}

.ion-md-leerQr + span {
    padding-top: 32px;
}
