/*  #Style Expandable - Full image with CTA
===========================================*/
expandable-list {
  li {
      list-style-type: none;
  }
  // settings Expandable Full image with CTA Header
  .collapsible-header {
    [background-size] {
      height: 215px;
      position: relative;
      border-radius: $border-radius;
      @include darkening-blend-mode;

      [item-subtitle] {
        padding-top: 40px;
        color: color($googleCard,   card-subtitle-full-images-cards) !important;
        z-index: 9999;
        margin-bottom: 5px !important;
        position: relative;
      }
    }
    // Settings Read More
    [read-more] {
      position: absolute;
      left: 7px;
      bottom: 0;
      z-index: 9999;
    }

    [span-medium] {
      line-height: 37px;
    }

    [header-title] {
      color: color($googleCard,  card-title-full-images-cards);
      z-index: 9999;
      position: relative;
    }
  }
  // Settings Expandable Full Image With CTA Body
  .item-accordion {
    height: 0;
    display: block !important;
    -webkit-transition: all 300ms;
    transition: all 300ms;
    overflow: hidden;

    [span-small] {
      margin-top: 5px;
      display: block;
      margin-left: 15px;
    }

    [icon-small]::before {
      margin-left: 0 !important;
      margin-right: 0 !important;
    }

    &.active {
      height: 160px !important;
    }
  }
  .scroll-content {
    padding: 0px !important;
    margin-bottom: 0px !important;
  }
}
