<!--- Settings TAB lauout-1 -->
<ion-header>
    <ion-toolbar style="padding-top: 10px">
        <div background-size *ngIf="data != null" [ngStyle]="{'background-image': 'url(' + data.headerImage + ')'}">
            <div search-bar-bcg>
                <!-- Header Title -->
                <h1 ion-text no-margin padding-left search-bar-title>{{data.title}}</h1>
                <ion-searchbar [(ngModel)]="searchTerm" (ionInput)="onEvent('onTextChange', $event)"></ion-searchbar>
            </div>
        </div>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-grid no-padding *ngIf="data != null">
        <ion-row>
          <ion-col col-12>
            <!-- Content -->
            <ion-list no-margin>
              <ion-item-sliding *ngFor="let item of data.items" #slidingItem>
                <ion-item no-lines (click)="onEvent('onItemClick', item.title, $event)">
                  <!-- Images -->
                  <ion-thumbnail item-start>
                    <img src="{{item.image}}">
                  </ion-thumbnail>
                  <!-- Title -->
                  <h2 item-title>{{item.title}}</h2>
                  <!-- Subtitle -->
                  <p item-subtitle text-wrap>{{item.subtitle}}</p>
                </ion-item>
                <!--Action Button-->
                <ion-item-options no-lines>
                  <!-- Button -->
                  <button ion-button text-capitalize ion-text (click)="delete(item)">
                  {{item.delate}}
                </button>
                </ion-item-options>
              </ion-item-sliding>
            </ion-list>
          </ion-col>
        </ion-row>
      </ion-grid>
</ion-content>