// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.top10 {
    margin-top: 10px !important;
}
.top30 {
    margin-top: 30px !important;
}

.top50 {
    margin-top: 50px !important;
}

.version-info {
    position: absolute;
    bottom: 15px;
    left: 6px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 14px;
    color: #325B8E;
  }
  .login-menu button div {
    width: 45px;
  }
  .main {
    background: linear-gradient(153.34deg, rgba(50, 91, 142, 0.8) 7.11%, rgba(0, 178, 188, 0.8) 78.61%), url('../assets/images/background/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    mix-blend-mode: normal;
    filter: blur(1px);
  }
  .toolbar img {
    max-height: 37px;
  }
  .toolbar-background {
    background-color: rgba(0,0,0,0);
    color: #FFFFFF;
  }
  .mainContent {
    background-color: rgba(0,0,0,0);
    color: #FFFFFF;
  }
  .menu {
    color: #FFFFFF;
  }
  .grey,
  .item-inner .input-wrapper .grey {
    color :#cccccc;
  }
  .grey input::placeholder {
    color :#cccccc;
  }
  .header-ios {
    padding-top:24px;
  }
  .label {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 18px;
    color: #325B8E;
  }
  .login-menu {
    margin-top: 86px;
    margin-right: 15px;
  }
  .logo {
    padding-left: 10px;
  }
  .btnLogin {
    border-radius: 30px;
    background-color: white;
    color: #3A6D96;
  }
  .btnLogin:before {
    content: '>';
    position: absolute;
    left: 90%;
    top: 10px;
  }
  .iconLogin {
    height: 27px;
  }
  .fingerPrint {
    font-size: 18px;
    color: #FFFFFF;
  }
  .nameUser {
      font-size: 18px;
      color: #FFFFFF;
      text-align: center;
      padding-bottom: 10%;
  }
  .list-md .item-input:last-child {
    border-bottom: 0;
  }
  .col {
      width: inherit;
      min-height: inherit;
  }
  