ion-label {
    margin-bottom: 5px !important;
}

ion-checkbox {
    position: relative;
    float: left;
    margin-left: 15px;
}

.icons {
    position: relative;
    float: right;
    margin-right: 15px;
    bottom: 6px;
}

.checkbox-ios .checkbox-checked {
    border-color: #327EFF !important;
    background-color: #327EFF !important;
}

.checkbox-ios .checkbox-icon {
    border-width: 2px !important;
    border-color: #efeff4;
    background-color: #ffffff;
}