<ion-content class="tutorial-page">
    <ion-toolbar>
    </ion-toolbar>
    <ion-row margin justify-content-center>
        <h2 text-center class="description-login" [innerHTML]="data.titleSuccess"></h2>
    </ion-row>
    <ion-row margin justify-content-center *ngIf="data.page==='loading'">
        <p text-center class="description-login" [innerHTML]="data.textSuccess"></p>
    </ion-row>
    <ion-row margin justify-content-center>
        <img *ngIf="data.page==='loading'" [src]="data.imgPrincipal" class="alastria-letters" />
        <img *ngIf="data.page==='success'" [src]="data.imgPrincipal" class="alastria-letters extra-margin-bottom" />
    </ion-row>
    <ion-row margin justify-content-center *ngIf="data.page==='success'">
        <p text-center class="description-login extra-margin-bottom" [innerHTML]="data.textSuccess"></p>
    </ion-row>
    <ion-row margin justify-content-center>
        <img [src]="data.imgSuccess" class="inbox-icon" />
    </ion-row>
    <ion-footer *ngIf="data.page==='success'">
        <ion-row justify-content-center>
            <button ion-button class="btnConfirm" style="width: 80%" (click)="closeModal()">ACEPTAR</button>
        </ion-row>
    </ion-footer>
</ion-content>