page-success {
    .alastria-logo {
        height: 110px;
    }

    .inbox-icon{
        height: 40px;
    }

    .description-login {
        color: $blueT;
        padding: 2%;
        width: 300px;
        font-weight: normal;

        &.-bold {
            font-weight: bold;
        }

        &.-small-font {
            font-size: 19px;
        }
    }
    
    .extra-margin-bottom {
        margin-bottom: 70px;
    }

    .cross {
        margin: 15px;
    }

    img {
        object-fit: fill;
    }

    .footer-md::before {
        background-image: none;
    }

    .btnConfirm {
        background: linear-gradient(90deg, #325B8E 0%, #00CAD6 100%);
        border-radius: 30px;
        height: 50px;
    }
    
    .btnConfirm:before {
        content: '>';
        position: absolute;
        left: 90%;
        top: 10px;
        font-size: 25px;
    }

    .button-inner {
        font-size: 17px;
    }

    ion-footer {
        height: 80px;
    }
    
}
