confirm-access {
  img {
    object-fit: fill;
  }

  .footer-md::before {
    background-image: none;
  }

  .btnConfirm {
    background: linear-gradient(90deg, #325b8e 0%, #00cad6 100%);
    border-radius: 30px;
    height: 50px;
  }

  .btnCancel {
    margin-top: 15px;
    font-weight: 500;
  }

  .alastria-logo {
    margin-top: 15px;
    height: 110px;
  }

  .btnConfirm:before {
    content: ">";
    position: absolute;
    left: 90%;
    top: 10px;
    font-size: 25px;
  }

  .button-inner {
    font-size: 17px;
  }

  ion-footer {
    height: 110px;
  }

  .cross {
    margin-top: 15px;
    margin-right: 15px;
  }

  .description {
    color: $blueT;
    padding: 2%;
    font-weight: normal;

    &.bold {
      font-weight: bold;
    }
  }

  .logo {
    height: 70px;
  }
}
