<!--- Settings TAB lauout-1 -->
<ion-header>
    <user-info-header [compact]=true></user-info-header>
    <div style="margin-left: 20px">
        <span style="font-size: 20px;">
            Tu actividad reciente con AlastriaId
        </span>
        <options class="options" *ngIf="selection" (handleSelectAll)="handleSelectAll($event)"
            (handleDeleteActivities)="handleDeleteOrBackup('delete')"
            (handleBackupActivities)="handleDeleteOrBackup('backup')"></options>
        <ion-searchbar class="normal-search" *ngIf="!selection" [(ngModel)]="searchTerm" (ionInput)="onSearch($event)"></ion-searchbar>
    </div>
</ion-header>
<ion-content>
    <ion-segment (ionChange)="segmentChanged($event)" [value]="type">
        <ion-segment-button value="credentials">
            <ion-label>Credentials</ion-label>
        </ion-segment-button>
        <ion-segment-button value="presentations">
            <ion-label>Presentations</ion-label>
        </ion-segment-button>
    </ion-segment>
    <ion-list tabPage1 *ngIf="(activities | async) as activityList">
        <ion-item border no-lines *ngFor="let activity of activityList; let i = index" tappable text-wrap
            (click)=!selection?onItemClick(activity):selectActivity(i,activity) (press)=selectActivity(i,activity)
            [ngStyle]="{'background-color': activitiesSelected[i] === activity.activityId ? '#F2F2F2' : '#FFFFFF'}">
            <ion-row id="item-row">
                <ion-col size=9>
                    <ion-row>
                        <ion-col>    
                            <span class="title">
                                {{ activity.title }}
                            </span>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col>    
                            <span class="title">{{ activity.subtitle }}</span>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col>
                            <ion-label id="description">
                                Issuer: {{ activity.description }}
                            </ion-label>
                        </ion-col>
                    </ion-row>
                </ion-col>
                <ion-col size=3>
                    <ion-row id="activity-status">
                        <ion-col>
                            <div [ngClass]="{
                                'status-valid':activity.status === 'Valid',
                                'status-askissuer':activity.status === 'AskIssuer',
                                'status-revoked':activity.status === 'Revoked',
                                'status-deleted-by-subject':activity.status === 'DeletedBySubject'}">
                                <ion-icon name="radio-button-on"></ion-icon>
                                <span>{{ activity.status }}</span>
                                <ion-icon name="arrow-forward-outline"></ion-icon>
                            </div>
                        </ion-col>
                    </ion-row>
                </ion-col>
            </ion-row>
            <!-- <span class="datetime">{{ activity.datetime }}</span> -->
        </ion-item>
    </ion-list>
    <div class="without-items" *ngIf="!(activities | async)?.length">
        No se han encontrado actividades
    </div>
</ion-content>