.header-title {
    height: 61px;
    width: 100%;
    background: linear-gradient(155.73deg, #325B8E 44.4%, #00B2BC 73.25%);
    margin-bottom: 15px;
    color: white;
    display: flex;
}
.header-title p {
    color: white;
    font-size: 18px;
}

.readQr {
    width: 105px;
    position: fixed;
    bottom: 0px;
}

ion-footer {
    display: flex;
    justify-content: center;
}
