<div id="userSettings">
    <div class="outterOval"></div>
    <div class="innerOval"></div>
    <ion-buttons slot="start">
        <ion-back-button (click)="navController.back()"></ion-back-button>
    </ion-buttons>
    <label class="name">{{userName}}</label>
    <span class="outerUserCircle"></span>
    <img class="innerUserCircle" [src]="userImagePath">
    <span class="editPhoto">
        <img src="assets/svg/edit.svg" />
    </span>
</div>

<div class="settings">
    <ion-list class="ion-no-border">
        <ion-item>
            <ion-toggle checked="false"></ion-toggle>
            <ion-label>
                Copia de seguridad en la nube
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-toggle checked="false"></ion-toggle>
            <ion-label>
                Privacidad
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-toggle checked="false"></ion-toggle>
            <ion-label>
                Opción 3
            </ion-label>
        </ion-item>
    </ion-list>
</div>