<div class="container">
    <div>
        <img src="assets/img/cinesa-logo1.png">
    </div>
    
    <form>
        <div class="form-group row">

            <!-- Login -->
            <label class="col-2 col-form-label">Nombre</label>
            <input  class="form-control"
                    type="text"
                    placeholder="Nombre"
                    name="nombre"
                    required
                    minlength="5"> 

            <!-- Pass -->
            <label class="col-2 col-form-label">Contraseña</label>
            <input  class="form-control"
                    type="text"
                    placeholder="password"
                    name="password"
                    required
                    minlength="5"> 

            <!-- Botones -->
            <div class="mt-5">
                <button type="button" class="btn btn-outline-primary mr-5"> Iniciar Sesión</button>
                <button type="button" class="btn btn-outline-success"> Login Alastria </button>
            </div>
        </div>
    </form>
</div>