#userSettings {
  height: 140px;
  margin-bottom: 50px;
}

.ios .nav-decor{
  background:transparent !important;
}

#userSettings .outterOval {
/*   width: 160%;
  height: 142%;
  position: absolute;
  top: -50% !important;
  left: -25% !important;
  border-radius: 50%;
  background-color:rgba(181, 222, 225, 0.24);
  transform: translate(0, 10px); */

  border-radius: 50%;
  position: absolute;
  width: 525px;
  height: 175px;
  left: -75px;
  top: -26px;
  background-color:rgba(181, 222, 225, 0.24);
/*   transition: width 150ms, height 150ms, top 150ms, left 150ms;
  transition-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
  transform: translate3d(1,1,1); */

}

#userSettings .innerOval {
/*   width: 160%;
  height: 142%;
  position: absolute;
  top: -50% !important;
  left: -25% !important;
  background: linear-gradient(155.73deg, #325B8E 41.01%, #00B2BC 73.25%); */

  border-radius: 50%;

  position: absolute;
  width: 587px;
  height: 230px;
  left: -106px;
  top: -91px;

  background: linear-gradient(155.73deg, #325B8E 44.4%, #00B2BC 73.25%);
/*   transition: width 150ms, height 150ms, top 150ms, left 150ms;
  transition-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
  transform: translate3d(1,1,1); */

}


#userSettings .outerUserCircle {
  width: 147px;
  height: 147px;
  border-radius: 100%;
  background-color:rgba(255, 255, 255, 0.10);
  position: absolute;
  top: 63px;
  left: 25%;
/*   transition: width 150ms, height 150ms, top 150ms, left 150ms;
  transition-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
  transform: translate3d(1,1,1); */

}

#userSettings .innerUserCircle {
  width: 120px;
  height: 120px;
  border-radius: 100%;
  background-size: cover;

  position: absolute;
  top: 78px;
  left: 25%;
  margin-left: 14px;
/*   transition: width 150ms, height 150ms, top 150ms, left 150ms;
  transition-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
  transform: translate3d(1,1,1); */

}


#userSettings .name {
  position: absolute;
  top: 18px;
  text-align: center;
  width: 100%;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 18px;

  color: #FEFFFF;
/*   transition: top 150ms, left 150ms, right 150ms;
  transition-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
  transform: translate3d(1,1,1); */

}

#userSettings .scroll-content {
  padding: 0px !important;
  margin-bottom: 0px !important;
}

#userSettings  .expandable-list {
  padding: 16px;
}

.settings {
  padding-top: 60px;
}

.editPhoto {
  position: absolute;
  left: 53.6%;
  right: 35.47%;

  margin-left: 15px;
  height: 41px;
  width: 41px;
  border-radius: 100%;
  top: 160px;

  background: linear-gradient(180deg, #325B8E 0%, #00B2BC 100%);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
  background-repeat: no-repeat;
  background-size: cover;
  mix-blend-mode: normal;
}

.editPhoto img {
  padding: 7px;
}