<!--Theme Wizard Simple + image-->
<!--Content -->
<ion-content no-margin no-padding *ngIf="data != null">
    <ion-slides #wizardSlider (ionSlideDidChange)="slideHasChanged()" pager="true" *ngIf="data != null">
        <ion-slide *ngFor="let item of data.items;" padding>
            <img logo [src]="item.logo" *ngIf="item.logo" />
            <h1 text-left wizard-title padding-horizontal>{{item.title}}</h1>
            <p text-left wizard-description padding-horizontal>{{item.description}}</p>
            <p text-left wizard-description padding-horizontal>{{item.subtitle}}</p>
        </ion-slide>
    </ion-slides>
    <!-- Button section-->
    <!-- <div *ngIf="data != null">
        <button ion-button button-clear text-capitalize clear float-left (click)="changeSlide(-1)" *ngIf="prev">
            {{data.btnPrev}}
        </button>
        <button ion-button button-clear text-capitalize clear float-right (click)="changeSlide(1)" *ngIf="next">
            {{data.btnNext}}
        </button>
        <button ion-button button-clear text-capitalize clear float-right (click)="onEvent('onFinish')" *ngIf="finish">
            {{data.btnFinish}}
        </button>
    </div> -->
</ion-content>