/*  #Style Wizard Simple + image
===========================================*/
wizard-layout-1 {
  // Settings Logo
  [logo] {
    display: block;
    text-align: left;
    margin-left: 16px;
    height: 48px;
  }

  [wizard-title] {
    color: color($wizardPage, wizard-title-simple-image);
  }

  [wizard-description] {
    color: color($wizardPage, wizard-description-simple-image);
  }

  // Pagination Settings
  .swiper-pagination {
    bottom: 50px !important;

    .swiper-pagination-bullet {
      background: theme-colors('mainColors', 'accent') !important;
    }
  }

  // Button Wizard
  [button-clear] {
    margin-top: -45px;
    margin-left: 20px;
    margin-right: 30px;
    z-index: 9;
    padding: 10px 15px;
    position: relative;
    display: block;
  }
}
