page-entities {
    ion-header {
        height: 61px;
        background: linear-gradient(155.73deg, #325B8E 44.4%, #00B2BC 73.25%);
        margin-bottom: 15px;
        color: white;
        display: flex;
    }
    ion-header p {
        color: white;
        font-size: 18px;
    }
}
