<!-- Generated template for the ItemListComponent component -->
<ion-list *ngIf="items && items.length">
  <ion-item border no-lines *ngFor="let item of items; let i = index" tappable text-wrap
      (click)="selectItem(item)">
      <ion-label>
        <ion-row>
          <ion-col id="img-col" size=3>
            <img [src]="item.imgUrl" [alt]="item.title">
          </ion-col>
          <ion-col size=9>
            <ion-row>
              <ion-col>
                <span>{{ item.title }}</span>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <span>{{ item.description }}</span>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <a>{{ item.entityUrl }}</a>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-label>
  </ion-item>
</ion-list>